
.home-window {
    position: absolute;
    margin: 0px;
    height: 100%;
    width: 100%;
}

.red-half {
    background-image: linear-gradient(to bottom right, lightcoral, firebrick);
    position: absolute;
    width: 50%;
    top: 0%;
    bottom: 0%;
    left: 0%;
    border-style: solid;
    border-color: black;
    margin: 0px;
}

.blue-half {
    background-image: linear-gradient(to bottom left, paleturquoise, dodgerblue);
    position: absolute;
    width: 50%;
    top: 0%;
    bottom: 0%;
    right: 0%;
    border-style: solid;
    border-color: black;
    margin: 0px;
}

.input-wrapper {
    position: absolute;
    margin: 0px;
    height: 80%;
    width: 80%;
    left: 9%;
    top: 0px;
}

.title {
    position: absolute;
    margin: 0px;
    top: 0px;
    left: 0px;
    font-size: 50px;
}

.car-selection-label {
    position: absolute;
    margin: 0px;
    top: 60px;
    left: 0px;
}

.car-selection-wrapper {
    position: absolute;
    height: 250px;
    width: 100%;
    top: 110px;
    margin: 0px;
}

.car-wrapper {
    position: absolute;
    margin: 0px;
    padding: 0px;
    height: 40%;
    width: 40%;
}

.car-selection {
    position: absolute;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;

    text-align: center;
    line-height: 60px;

    background-color: lightgrey;

    border-style: outset;
    border-width: 5px;
    border-color: grey;
}

.car-player-name {
    position: absolute;
    margin: 0px;
    top: 60px;
    height: 100%;
    width: 100%;

    text-align: center;
    font-size: 20px;
    white-space: nowrap;
    line-height: 20px;
    color: white;

    background-color: transparent;
    border-style: none;
}

.text-input-field {
    position: absolute;
    margin: 0px;
    width: 100%;
    top: 400px;

    padding: 24px 0px;
    border-style: solid;
    border-color: black;
    border-radius: 7px;
    border-width: 3px;
    font-size: 24px;
}

.text-input-field:focus {
    outline: none;
}

.watch-button {
    position: absolute;
    margin: 0px;
    width: 100%;
    top: 500px;

    padding: 24px 0px;
    font-size: 24px;
    background: #31a24c;
    color: white;
    font-weight: 600;
    text-align: center;
    text-decoration: none;

    border-style: solid;
    border-color: black;
    border-radius: 7px;
    border-width: 3px;
}

.watch-button:hover {
    background-color: #2f9d49;
}

.play-button {
    visibility: hidden;

    position: absolute;
    margin: 0px;
    width: 100%;
    top: 600px;

    padding: 24px 0px;
    font-size: 24px;
    background: #31a24c;
    color: white;
    font-weight: 600;
    text-align: center;
    text-decoration: none;

    border-style: solid;
    border-color: black;
    border-radius: 7px;
    border-width: 3px;
}

.play-button:hover {
    background-color: #2f9d49;
}

.disabled-play-button {
    visibility: visible;

    position: absolute;
    margin: 0px;
    width: 100%;
    top: 600px;

    padding: 24px 0px;
    font-size: 24px;
    color: white;
    font-weight: 600;
    text-align: center;
    text-decoration: none;

    border-style: solid;
    border-color: black;
    border-radius: 7px;
    border-width: 3px;

    cursor: not-allowed;
    background-color: grey;
}
